.title {
    margin: 0 auto;
    width: 54vw;
    text-align: center;
    font-size: 3.6rem;
    line-height: 4.4rem;
    b {
        color: $khaki;
    }
    span {
        font-weight: 700;
        color: $main-color;
    }
    &-30 {
        font-size: 3rem;
        line-height: 3.6rem;
        width: auto;
    }
    &-42 {
        font-size: 4.2rem;
        line-height: 5.1rem;
    }
    .title__output {
        font-weight: 400;
        color: #000;
    }
}